button.recording {
    background: #ffdfe5; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffdfe5 0%, #faa8b6 50%, #fc92a4 51%, #febcc7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdfe5), color-stop(50%,#faa8b6), color-stop(51%,#fc92a4), color-stop(100%,#febcc7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfe5', endColorstr='#febcc7',GradientType=0 ); /* IE6-9 */
}

#recordTable thead {
    font-weight:bold;
}

#recordTable {
    width: 100%;
}

#recordTable select {
    width: 200px;
}

#recordTable input[name="description"] {
    width: 400px;
}

body.recordingBodyBG {
    background: #ffdfe5; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffdfe5 0%, #faa8b6 50%, #fc92a4 51%, #febcc7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdfe5), color-stop(50%,#faa8b6), color-stop(51%,#fc92a4), color-stop(100%,#febcc7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffdfe5 0%,#faa8b6 50%,#fc92a4 51%,#febcc7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfe5', endColorstr='#febcc7',GradientType=0 ); /* IE6-9 */    

    background-attachment:fixed;
    background-repeat:no-repeat;   
}
