input[type="text"]  {
    width: 200px;
}

input[name="hours[]"], input[name="minutes[]"], 
input[name="hours"], input[name="minutes"] {
    width: 60px;
}
input[name="date[]"], input[name="date"]  {
    width: 100px;
}
input[name="description[]"], input[name="description"]  {
    width: 480px;
}

select[name="projectid[]"], select[name="projectid"] {
    width: 200px;
}

#addRow, .removeRowButton {
    height: 19px;
    width: 18px;
}

#hoursForm {
    width: 100%;
}